* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1e90ff;
  /* background-color: #4169e1; */
  /* background: linear-gradient(#C6FFDD,#FBD786,#f7797d); */
  /* background: linear-gradient(#acb6e5, #86fde8); */
  min-height: 100%;
}
/* 홈화면 메인 타이핑글귀 */
h1 {
  z-index: 1;
  font-size: 8rem;
  min-width:11px;
  white-space: nowrap;
  margin: 0 auto;
  display: block;
  position: fixed;
  color: transparent;
  position: relative;
  top:5%;
  left:50%;
  transform: translate(-50%, -50%);
  }
h1::before {
  content: "Welcome, I'm minsun.";
  /* font-family: "Lobster", cursive;; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  overflow: hidden;
  border-right: 1px solid black;
  animation: typing 13s steps(43) infinite;
}

@keyframes typing{
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
/*  */
.container{
  height: 100vh;
  width: 100vw;
}
.bubble {
  display: block;
  margin: 0 auto;
  height:55rem;
  width:120rem;
  padding: 7rem;
	position: relative;
	background: #ffffff;
  border-radius: 80px;
  top: 5%;
}

.bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 5em solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-right: 0;
	margin-left: -5em;
	margin-bottom: -5em;
}
.text{
  margin: 3rem;
  font-size: 2rem;
  padding: 0 2rem 0 2rem;

}
p{
  margin-bottom: 1.1rem;
}
span{ 
  font-weight: bold;
  background-color: #FDDA0D;
  margin:0.2rem;
}
img{
  width:46rem;
  display: block;
  margin:0 auto;
  position: relative;
  bottom: 6.5%
  
}
.bubble:hover {
  color: black;
  box-shadow: 10px 10px 10px 10px #afe0f5;
}